body {
    width: auto;
    background-color: black;
}

h1 {
    color: white;
    margin-top: 100px;
    text-align: center;
    transition-duration: 1s;
    transform: rotate(-30deg);
}

.nav-item {
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 3rem;
}